on: [push, pull_request]
name: ShellCheck
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: shellcheck
      uses: ludeeus/action-shellcheck@1.1.0
      env:
          SHELLCHECK_OPTS: -e SC1091,SC2034,SC2086,SC2154,SCSC2038